body {
    margin: 0;
    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

canvas {
    background: #50C878;
    width: 95vw;
    height: 95vw;
    max-width: 450px;
    max-height: 450px;
    margin-top: 10px;
    touch-action: none;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    background: #2ea6ff;
    color: white;
}

#controls {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls div {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#controls button {
    margin: 2px;
    padding: 12px 18px;
    font-size: 18px;
}

#leaderboard {
    margin-top: 10px;
    font-size: 14px;
}
