body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

#content {
    padding: 20px;
    padding-bottom: 70px;
}

canvas {
    background: black;
    margin-top: 10px;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background: #222;
}

.navbar button {
    flex: 1;
    padding: 15px;
    border: none;
    background: #333;
    color: white;
    font-size: 16px;
}
